<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zooniverse</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat&amp;text=ZOONIVERSE">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic" />
    <link rel="stylesheet" href="./<%= ENV['OUT_CSS'] %>" />
  </head>

  <body>
    <!--Last build: <%= Time.now %>-->
    <!--Build env: <%= ENV['NODE_ENV'] %>-->

    <noscript>
      <p style="text-align: center;">
        Sorry, it looks like you have JavaScript disabled.
        <strong><a href="http://enable-javascript.com/">Learn how to enable it.</a></strong>
      </p>
    </noscript>

    <script>
      if (typeof SVGElement === 'undefined' || (new XMLHttpRequest()).withCredentials !== false) {
        document.write([
          '<p style="text-align: center;">',
            'Sorry, it looks like your browser is too old to run this app.',
            '<strong><a href="http://browsehappy.com/">Check out your upgrade options.</a></strong>',
            '<small><em><a href="https://www.whatismybrowser.com/guides/why-should-i-update-my-web-browser">Why?</a></em></small>',
          '</p>',
        ].join('\n'));
      }
    </script>

    <i id="font-awesome-test" class="fa" style="opacity: 0; pointer-events: none; position: absolute;"></i>
    <script>
      addEventListener('DOMContentLoaded', function() {
        var testIcon = document.getElementById('font-awesome-test');
        var testIconFontFamily = getComputedStyle(testIcon).fontFamily;
        if (testIconFontFamily !== 'FontAwesome') {
          var fallbackLinkTag = '<link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css" />';
          document.head.insertAdjacentHTML('beforeEnd', fallbackLinkTag);
        }
        testIcon.parentNode.removeChild(testIcon);
      });
    </script>

    <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=default,es6,Promise&amp;flags=gated"></script>
    <script>('assign' in Object) || document.write('<script src="./fallback-polyfills.js"></'+'script>');</script>

    <script src="./<%= ENV['VENDOR_JS'] %>"></script>
    <script src="./<%= ENV['OUT_JS'] %>"></script>
  </body>
</html>
